/* AUTHORS
Oskari Sieranen
Tuomas Paavolainen
Otto Söderlund */


@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');

:root {
    --main-color: #34495E;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

h3, h4, h5, p {
    font-family: 'Railway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

html {
    background-color: #FEFEFE;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding-bottom: 50px;
}

button {
    border: none;
}

/* NAVIGATION */


#navbar {
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: none;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    position: fixed;
    bottom: 30px;
    left: 0;
    background-color: var(--main-color);
    /* height: 0; */
    width: 100%;
    z-index: 99999;
    opacity: 0;
    animation: navbar 300ms ease-in-out forwards;
}
.reverse {
    animation: navbar-reverse 300ms ease-in-out forwards;
    opacity: 1;
}

@keyframes navbar {
    0% {
        opacity: 0;
        transform: rotateY(-90deg) translateY(30px);
    }

    100% {
        opacity: 1;
        transform: rotateY(0) translateY(0);
    }
}

@keyframes navbar-reverse {
    0% {
        opacity: 1;
        transform: rotateY(0) translateY(0);
    }

    100% {
        opacity: 0;
        transform: rotateY(-90deg) translateY(30px);
    }
}

#navbar a {
    color: white;
}

#navbar li {
    /* margin: 10px 0; */
    display: block;
    text-decoration: none;
}
/* 
#navbar ul {
    padding: 0;
} */

.bottomNav {
    padding: 5px 0;
    width: 100%;
    height: 30px;
    background-color: var(--main-color);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    z-index: 99999;
}

.iconbar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: white;
    margin: 5px;
}

.first-animate {
    transform: rotate(0);
    animation: cross-first 600ms ease-in-out forwards;
    transform-origin: right center;
}

.second-animate {
    transform: rotate(0);
    animation: cross-second 600ms ease-in-out forwards;
    /* transform-origin: center; */
}

.third-animate {
    
    /* width: 25px; */
    animation: slide 600ms ease-in-out forwards;
}

@keyframes slide {
    100% {
        transform: translateX(-1000px);
    }
}

@keyframes cross-first {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-45deg) translate(0, -2.5px) scalex(1.1);
    }
}

@keyframes cross-second {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(45deg) translate(0, -1.5px) scalex(1.1);
    }
}

#burger {
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px;
}

#closeBtn {
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: white;
}

/* ////////////CTA BUTTON/////////// */

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-content: flex-end;
    min-width: 100%;
}

#ctaButton {
    position: fixed;
    bottom: 35px;
    right: 0;
    background-color: #db3236;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    box-shadow: 2px 2px 3px #000;
    margin: 10px 20px;
    z-index: 999999999;
}

.buttonContainer button {
    background-color: #db3236;
    color: white;
    font-size: 2.5em;
    border: none;
}

@media only screen and (min-width: 425px) {
    #homeHtml {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        min-width: 100vw;
    }

    #homeMain {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }    
}