/* Authors:
    Tuomas Paavolainen
    Oskari Sieranen
    Otto Söderlund 
*/


/* Color Scheme 
    #454545 - black for text
*/



/* Global styles */

h1, h2, h3, h4, h5, p {
    font-family: 'Didact Gothic', sans-serif;
}
body {
    max-width: 38rem;
    /* padding: 2rem;
    margin: auto; */
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    margin: 0;
    padding: 0;
}

.iconbar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: black;
    margin: 5px;
}

.second {
    width: 25px;
}

#navbar li {
    display: block;
    text-decoration: none;
}

#burger {
    margin-bottom: 20px;
}




/* Mobile */


/* Desktop */
