/* Authors:
    Tuomas Paavolainen
    Oskari Sieranen
    Otto Söderlund 
*/


/* Color Scheme 
    #454545 - black for text
*/
:root {
    --main-color: #34495E;
}



/* Global styles */

body {
    /* background: linear-gradient(to top, white 70%, teal 30%); */
    min-width: 100%;
    min-height: 100%;
    margin: 0;
}


#profilePage {
    min-height: 100vh;
    margin-top: 0;
    
}

.profilePic {
    background: linear-gradient(to top, white 50%, var(--main-color) 50%);
    background-size: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    min-height: 300px;
    
}

.profilePic img {
    border-radius: 50%;
    border: 3px solid grey;
    height: 200px;
    width: 200px;
}

.data {
    /* min-height: 60vh; */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    /* padding: 15% 0; */
    margin-top: 100px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    margin-left: 20px;
    margin-right: 20px;
}




/* Media Query */



/* Desktop */
