/* Authors:
    Tuomas Paavolainen
    Oskari Sieranen
    Otto Söderlund 
*/


/* Color Scheme 
    #454545 - black for text
*/



/* Global styles */

body {
    background: linear-gradient(to top, white 70%, teal 30%);
}


#profilePage {
    height: 100%;
    margin-top: 0;
}

.profilePic {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    
}

.profilePic img {
    border-radius: 50%;
    border: 3px solid grey;
    height: 200px;
    width: 200px;
    margin-top: 40%;
    top: 17%;
    left: 23%;

}

.data {
    min-height: 60vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
}




/* Media Query */



/* Desktop */
