/* Authors:
    Tuomas Paavolainen
    Oskari Sieranen
    Otto Söderlund 
*/


/* Color Scheme 
    #454545 - black for text
*/



/* Global styles */

main /* change name if needed */ {
    max-width: 38rem;
    padding: 1.5rem;
    margin: auto;
  }


/* Mobile */


/* Desktop */
