<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./about.css">
    <link rel="stylesheet" href="../Global/global.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>About</title>
</head>

<body>
    <ul id="navbar">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./profile.html">Profile</a></li>
        <li><a href="./signUp.html">Sign Up</a></li>
        <li><a href="./logIn.html">Log In</a></li>
        <li><a href="./about.html">About</a></li>
    </ul>


    <div class="bottomNav">
        <div id="closeBtn" onclick="closeNav()" style="display: none;">X</div>
        <div id="burger" onclick="openNav()" style="display: inline-block;">
            <span class="iconbar first"></span>
            <span class="iconbar second"></span>
            <span class="iconbar third"></span>
        </div>
    </div>
    <main>
        <section id="profilePage">
            <div class="profilePic">
                <img src="thumbsIcon.jpg" alt="Profile User">
            </div>

            <div class="data">
                <p>Version 0.0.0.1</p>
                <p>Authors:</p>
                <p>Tuomas Paavolainen</p>
                <a href="https://github.com/smolmeri"><i class="fab fa-github fa-2x"></i></a>
                <p>Oskari Sieranen</p>
                <a href="https://github.com/oskarits"><i class="fab fa-github fa-2x"></i></a>
                <p>Otto Söderlund</p>
                <a href="https://github.com/ottosoderlund"><i class="fab fa-github fa-2x"></i></a>


                <h1>ABOUT</h1>

                <p>Media Sharing web app Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </section>
    </main>
    <main>
        <section id="about">



        </section>


    </main>
</body>

<script type="text/javascript" src="about.js"></script>
<script type="text/javascript" src="../global/global.js"></script>

</html>