<!DOCTYPE html>
<html id="homeHtml" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./home.css">
    <link rel="stylesheet" href="../Global/global.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <ul id="navbar">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./profile.html">Profile</a></li>
        <li><a href="./signUp.html">Sign Up</a></li>
        <li><a href="./logIn.html">Log In</a></li>
        <li><a href="./about.html">About</a></li>
    </ul>

    <div class="bottomNav">
        <div id="closeBtn" onclick="closeNav()" style="display: none;">X</div>
        <div id="burger" onclick="openNav()" style="display: inline-block;">
            <span class="iconbar first"></span>
            <span class="iconbar second"></span>
            <span class="iconbar third"></span>
        </div>
    </div>

    <div class="container">
        <div id="ctaButton">
            <div class="buttonContainer">
                <a href="../../public/index.html">
                    <button>
                        +
                    </button>
                </a>
            </div>
        </div>
    </div>

    <main id="homeMain">
        <!-- <div id="quote">
            <p>Keep your face always towards the sunshine and shadows will fall behind you</p>
            <span>Walt Witham</span>
        </div> -->

        <section id="imageFeed">
            <div class="imageCard">
                <div class="image">
                    <div class="socialBtn">
                        <a href="/"><i class="far fa-thumbs-up fa-2x"></i></a>
                        <a href="/"><i class="fas fa-share-alt fa-2x"></i></a>
                    </div>
                    <img src="/Assets/img/thanos.jpg" alt="kitten">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, ullam. Enim iure, atque animi repudiandae facere omnis accusantium maiores odit illo, error ipsam, nihil pariatur? Dolore asperiores voluptas iusto sequi.</p>
            </div>


            <div class="imageCard">
                <div class="image">
                    <div class="socialBtn">
                        <a href="/"><i class="far fa-thumbs-up fa-2x"></i></a>
                        <a href="/"><i class="fas fa-share-alt fa-2x"></i></a>
                    </div>
                    <img src="/Assets/img/thanos.jpg" alt="kitten">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit repudiandae quisquam dicta voluptates itaque veritatis doloremque error ea consequuntur, enim inventore rem, suscipit quidem ipsam nobis perspiciatis? Assumenda, suscipit molestiae!!</p>
            </div>

            <div class="imageCard">
                <div class="image">
                    <div class="socialBtn">
                        <a href="/"><i class="far fa-thumbs-up fa-2x"></i></a>
                        <a href="/"><i class="fas fa-share-alt fa-2x"></i></a>
                    </div>
                    <img src="/Assets/img/thanos.jpg" alt="kitten">
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae consequatur iure iste perspiciatis vel maiores explicabo inventore adipisci pariatur tenetur fugiat animi, dicta unde modi, omnis dolores exercitationem. Provident, quam.</p>
            </div>

            <div class="imageCard">
                <div class="image">
                    <div class="socialBtn">
                        <a href="/"><i class="far fa-thumbs-up fa-2x"></i></a>
                        <a href="/"><i class="fas fa-share-alt fa-2x"></i></a>
                    </div>
                    <img src="/Assets/img/thanos.jpg" alt="kitten">
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores doloribus eaque beatae dolorum modi est. Necessitatibus, quaerat illum aliquam reprehenderit quia illo, error iure sapiente tempora aut perspiciatis, autem iste.</p>
            </div>
        </section>
    </main>

</body>

<script type="text/javascript" src="./home.js"></script>
<script type="text/javascript" src="../../global/global.js"></script>

</html>