/* Authors:
    Tuomas Paavolainen
    Oskari Sieranen
    Otto Söderlund 
*/


:root {
    --main-color: #34495E;
}

.imageCard {
    margin: 10px 20px;
    padding: 10px 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(17, 5, 5, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
}

.image {
    position: relative;
}

.image img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    
}

.imageCard p {
    max-width: 50%;
}

.socialBtn {
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    right: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 0 15px 0 0;
}


.socialBtn i {
    padding: 10px 10px;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10px;
    margin: 0 20px
}

.signUp {
    background-color: var(--main-color);
    color: white;
    padding: 20px 20px;
    margin: 0 5px;
}


.logIn {
    background-color: whitesmoke;
    color: var(--main-color);
    padding: 20px 20px;
    margin: 0 5px;
    border: .5px solid #34495E;;
}

.heroImg {
    
    min-width: 100vh;
    min-height: 50vh;
} 

.welcomeSplash {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
    height: 50vh;
    background-image: url('thumbsUpCropped.jpg');
    background-repeat: no-repeat;
    background-position: top;
}

@media only screen and (max-width: 425px) {
   .imageCard p {
       min-width: 100%;
   }
}
