:root {
    --main-color: #34495E;
}


.main {
    padding: 20px 10px;
    min-height: 100vh;
    background: linear-gradient(to top, white 50%, var(--main-color) 50%);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.header {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: white;
    top: 5%;
    position: fixed;
}

.line {
    height: 1px;
    width: 100px;
    color: white;
}

.containerLogIn {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(17, 5, 5, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFF;
    padding: 10px;
    margin: 0 10px;;
}

form { 
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
}


.logIn input {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 10px 50px;
    border: none;
    border-bottom: solid .5px black;
    height: 2em;
    width: 70%
}


#signUpButton {
    background-color: var(--main-color);
    margin: 5px 10px;
    color: #fff;
    width: 70%;
    padding: 15px 15px;
}

#logInButton {
    width: 70%;
    margin: 10px 10px;
    width: 70%;
    margin-top: 50px;
}

#logInButton a {
    color: darkblue;
}

#logInButton a:hover {
    text-decoration: underline;
    transition: .4s;
}

/* MEDIA QUERYS */

@media only screen and (min-width: 760px) { 
    .containerLogIn {
        height: 500px;
        width: 700px;
        background-image: url('/Assets/img/thumbsUp.jpeg');
        background-position-x: 300px;
        background-position-y: 85px;
        background-repeat: no-repeat;
        
    }
}