<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./logIn.css">
    <link rel="stylesheet" href="../global/global.css">
    <title>Log In</title>
</head>

<body>
    <ul id="navbar">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./profile.html">Profile</a></li>
        <li><a href="./signUp.html">Sign Up</a></li>
        <li><a href="./logIn.html">Log In</a></li>
        <li><a href="./about.html">About</a></li>
    </ul>



    <div class="bottomNav">
        <div id="closeBtn" onclick="closeNav()" style="display: none;">X</div>
        <div id="burger" onclick="openNav()" style="display: block;">
            <span class="iconbar first"></span>
            <span class="iconbar second"></span>
            <span class="iconbar third"></span>
        </div>
    </div>

    <div class="main">
        <div class="header">
            <h1>Original Content</h1>
            <div class="line"></div>
            <p>Welcome Back!</p>
        </div>
        <div class="containerLogIn">
            <form class="logIn" action="" method="post">
                <input type="text" name="username" id="username" placeholder="Username" />
                <input type="password" name="password" id="password" placeholder="Password" />
                <button id=signUpButton type="submit" value="Login">Log In</button>
                <p id="logInButton">Haven't signed up yet? Click <a href="./signUp.html">here</a> to sign up</p>
        </div>
        </form>
    </div>
    </div>
</body>

<script type="text/javascript" src="logIn.js"></script>
<script type="text/javascript" src="../../global/global.js"></script>

</html>