/* Authors:
    Tuomas Paavolainen
    Oskari Sieranen
    Otto Söderlund 
*/


/* Color Scheme 
    #454545 - black for text
*/



/* Global styles */

h1, h2, h3, h4, h5, p {
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
}

ul {
    position: center;
}

html {
    min-height: 100vh;
}
body {
    max-width: 38rem;
    /* padding: 2rem;
    margin: auto; */
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    margin: 0;
    padding: 0;
}

.iconbar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: black;
    margin: 5px;
}

.second {
    width: 25px;
}

#navbar li {
    display: block;
    text-decoration: none;
}

#burger {
    margin-bottom: 20px;
}


#about {
    height: 100%;

    margin-top: 0;
}

.profilePic {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-top: 40%;
    /* position: absolute; */
    top: 17%;
    left: 23%;
}

.profilePic img {
    border-radius: 50%;
    border: 3px solid grey;
    height: 200px;
    width: 200px;
}

.data {
    min-height: 60vh;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}




/* Media Query */



/* Desktop */
/* Authors:
    Tuomas Paavolainen
    Oskari Sieranen
    Otto Söderlund 
*/


/* Color Scheme 
    #454545 - black for text
*/



/* Global styles */

h1, h2, h3, h4, h5, p {
    font-family: 'Didact Gothic', sans-serif;
}

body {
    max-width: 38rem;
    /* padding: 2rem;
    margin: auto; */
    font-family: Arial, Helvetica, sans-serif;
}

#miniProfile {
    background-color: pink;
    border-radius: 50%;
    float: right;
    height: 10px;
    widows: 10px;;
}

main {
    top: 40%;
}

#quote {
    top: 20%;
    margin: 20px 10px;
}

#quote p {
    font-family: monospace;
}

#quote span {
    color: blue;
    font-style: italic;
}

#imageFeed {
    max-width: 100%;
    height: 100%;
}

.image p {
    text-align: center;
}
/* Mobile */


/* Desktop */
/* Authors:
    Tuomas Paavolainen
    Oskari Sieranen
    Otto Söderlund 
*/


/* Color Scheme 
    #454545 - black for text
*/



/* Global styles */

body {
    background: linear-gradient(to top, white 70%, teal 30%);
}


#profilePage {
    height: 100%;
    margin-top: 0;
}

.profilePic {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    
}

.profilePic img {
    border-radius: 50%;
    border: 3px solid grey;
    height: 200px;
    width: 200px;
    margin-top: 40%;
    top: 17%;
    left: 23%;

}

.data {
    min-height: 60vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
}




/* Media Query */



/* Desktop */
.main {
    /* margin-top: 75%; */
    /* min-height: 100%; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-self: center;
    align-self: center;
    /* border: solid 1px black; */
    /* min-height: 80%; */
    /* min-width: 95%; */
    border-radius: 15px;
    /* position: relative; */
    box-shadow: 0 4px 8px 0 rgba(17, 5, 5, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFF;
    /* top: 50%; */
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

form { 
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
    
}

.logIn input {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 10px 10px;
    border-radius: 15px;
    width: 70%;
    height: 2em;
    text-align: center;
}

.logIn button {
    width: 70%;
    height: 2em;
    background-image: linear-gradient(45deg, #4885ed 0%, #4885ff 100%);
    border-radius: 15px;
    margin: 5px 10px;
    transition: .4s;
    color: #fff;
    font-family: "Courier New", sans-serif;
}

#login {
    width: 70%;
    height: 4em;
    background-image: linear-gradient(45deg,  #f4c20d 0%,  #f4c30f 100%);
    border-radius: 15px;
    margin: 10px 10px;
    transition: .4s;
    color: #fff;
}

#login:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    width: 71%;
    height: 4.1em;
}

.logIn button:hover {
    background-image: linear-gradient(45deg, #008080 0%, #999900 100%);
    width: 71%;
    height: 4.1em;
}

/* MEDIA QUERYS */

/* @media (max-width: 767px) { 
    .navbar{
        display: none;
    }
} */